<a href="https://colab.research.google.com/github/lohi629/Data-Analysis/blob/main/Movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/movies_1_.csv")
df=df[df['Release Date']!="TBD"]
df['Release Date']=pd.to_datetime(df['Release Date'])
df

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083,146083,NaN,8000000.0,1998-06-12,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876,10876,NaN,300000.0,1998-08-07,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134,203134,NaN,250000.0,1998-08-28,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615,373615,NaN,300000.0,1998-09-11,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819,1087521,NaN,1000000.0,1998-10-09,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765,36851125,21240321.0,24000000.0,2008-10-31,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084,83080084,20983030.0,85000000.0,2007-03-02,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN
3198,Zoom,11989328,12506188,6679409.0,35000000.0,2006-08-11,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336,141475336,NaN,80000000.0,2005-10-28,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745,233700000,NaN,65000000.0,1998-07-17,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

In [7]:
from datetime import datetime
y=[]
m=[]
for i in df['Release Date']:
  y.append(i.year)
  m.append(i.month)
df['year']=y
df['month']=m
p=df[df['year']==1995]
p.groupby(['month'])['Title'].count()

month
1      3
2      2
3      3
4      5
5      6
6      7
7      8
8      7
9      4
10     8
11     7
12    13
Name: Title, dtype: int64

In [10]:
p=df[(df['year']>=1990) & (df['year']<=1998)]
p.groupby(['year'])['Title'].count()

year
1990     28
1991     33
1992     28
1993     39
1994     52
1995     73
1996     99
1997     97
1998    144
Name: Title, dtype: int64

In [11]:
df['Major Genre'].fillna('Adventure')
df.groupby('Major Genre')['Title'].count()

Major Genre
Action                 420
Adventure              274
Black Comedy            36
Comedy                 675
Concert/Performance      5
Documentary             43
Drama                  789
Horror                 219
Musical                 53
Romantic Comedy        137
Thriller/Suspense      239
Western                 36
Name: Title, dtype: int64

In [16]:
df['IMDB Rating'].fillna(0)
df['Rotten Tomatoes Rating'].fillna(0)
b=df[(df['IMDB Rating']>7) & (df['Rotten Tomatoes Rating']>60)]
b=b[['Major Genre','Title']]
b.groupby('Major Genre').agg(list)

                                                               Title
Major Genre
Action             [The Abyss, Apocalypse Now, Beverly Hills Cop,...
Adventure          [Babe, Back to the Future, Back to the Future ...
Black Comedy       [Brazil, American Psycho, Burn After Reading, ...
Comedy             [American Graffiti, Annie Hall, Big, Bananas, ...
Documentary        [The Blood of My Brother: A Story of Death in ...
Drama              [Twin Falls Idaho, Barry Lyndon, Before Sunris...
Horror             [Carrie, From Dusk Till Dawn, Jaws, Poltergeis...
Musical            [Oliver!, 42nd Street, Annie Get Your Gun, The...
Romantic Comedy    [Four Weddings and a Funeral, The Apartment, I...
Thriller/Suspense  [Blade Runner, Blow Out, Bound, Cape Fear, The...
Western            [Butch Cassidy and the Sundance Kid, The Balla...

In [18]:
temp=df[df['Major Genre']=='Action'].sort_values('Release Date')
temp.groupby('Director')['Title'].agg(list)

Director
Akira Kurosawa                                    [Shichinin no samurai]
Albert Hughes                                        [Menace II Society]
Alex Proyas                                                   [I, Robot]
Andrei Konchalovsky                                       [Tango & Cash]
Andrew Davis                         [Chain Reaction, Collateral Damage]
                                             ...
Werner Herzog                                              [Rescue Dawn]
William Friedkin                                            [The Hunted]
Wolfgang Petersen                                  [Air Force One, Troy]
Yimou Zhang            [Jet Li's Hero, House of Flying Daggers, Man c...
Zack Snyder                                              [300, Watchmen]
Name: Title, Length: 157, dtype: object

In [19]:
df.sort_values(by=['Major Genre','Director']).groupby('Distributor')['Title'].agg(list)

Distributor
20th Century Fox               [I, Robot, Chain Reaction, X-Men: The Last Sta...
3D Entertainment                    [Dolphins and Whales Tribes of the Ocean 3D]
8X Entertainment                                         [Megiddo: Omega Code 2]
Access Motion Picture Group                                        [Dinner Rush]
AdLab Films                                                             [Krrish]
                                                     ...
Wolfe Releasing                                                        [Show Me]
Women Make Movies                                               [Sisters in Law]
Yari Film Group Releasing                                      [The Illusionist]
Yash Raj Films                 [Ta Ra Rum Pum, Kabhi Alvida Naa Kehna, Neal n...
Zeitgeist                      [Travellers and Magicians, AimÈe & Jaguar, Now...
Name: Title, Length: 173, dtype: object

In [20]:
df['Worldwide Gross'].replace('Unknown',np.nan,inplace=True)
df['US Gross'].replace('Unknown',np.nan,inplace=True)
s=df[df['Worldwide Gross'].isnull()==False]
s['Worldwide Gross']=s['Worldwide Gross'].astype(int)
s['US Gross']=s['US Gross'].astype(int)
s['res gross']=s['Worldwide Gross'].sub(s['US Gross'])
print(s[['Title','res gross','IMDB Rating']])

                           Title  res gross  IMDB Rating
0                 The Land Girls          0          6.1
1         First Love, Last Rites          0          6.9
2     I Married a Strange Person          0          6.8
3           Let's Talk About Sex          0          NaN
4                           Slam      77702          3.4
...                          ...        ...          ...
3196  Zack and Miri Make a Porno    5398360          7.0
3197                      Zodiac   50000000          NaN
3198                        Zoom     516860          3.4
3199         The Legend of Zorro   95900000          5.7
3200           The Mask of Zorro  139871255          6.7

[3187 rows x 3 columns]

<ipython-input-20-39a90d579ee2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Worldwide Gross']=s['Worldwide Gross'].astype(int)
<ipython-input-20-39a90d579ee2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['US Gross']=s['US Gross'].astype(int)
<ipython-input-20-39a90d579ee2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['res gross']=s['Worldwide Gross'].sub(s['US Gross'])